.SearchResultItem {
  color: #676767;
}

.SearchResultItem-NewSection {
  color: #676767;
  border-top: 1px solid #d1d3de;
}

.SearchResultSectionName {
  visibility: hidden;
  background-color: #f3f3f3;
}

.SearchResultItem-NewSection .SearchResultSectionName {
  visibility: visible;
  color: #0063bd;
  right: 0rem;
}

.SearchResultItem:hover .SearchResultSectionName {
  background-color: #e8e8e8;
  right: 3.5rem;
}

.SearchResultItem-Selected:hover .SearchResultSectionName {
  background-color: #0060c0;
}

.SearchResultItem-Selected .SearchResultSectionName {
  color: white;
  right: 3.5rem;
  background-color: #0060c0;
}

.SearchResultItem:hover {
  background: #e8e8e8;
}

.SearchResultItem-Selected {
  color: white;
  background-color: #0060c0;
}

.SearchResultItem-Selected:hover {
  background-color: #0060c0;
}

.SearchResultItem-Highlighted {
  color: #0066bf;
  font-weight: bolder;
}

.SearchResultItem-Selected .SearchResultItem-Highlighted {
  color: #9dddff;
}

.SearchResultItem-Tag {
  font-size: smaller;
}

.SearchResultButtonContainer {
  visibility: hidden;
}

.SearchResultItem:hover .SearchResultButtonContainer {
  visibility: visible;
}

.SearchResultItem-Selected .SearchResultButtonContainer {
  visibility: visible;
}

.SearchResultItemButtonWrapper {
  background: #e8e8e8;
}

.SearchResultItem-Selected .SearchResultItemButtonWrapper {
  background-color: #0060c0;
}

.SearchResultItem .SearchResultItemButton:hover {
  background-color: #d9d9d9;
}

.SearchResultItem-Selected .SearchResultItemButton:hover {
  background-color: #387bbe;
}

.SearchResultItem .SearchResultItemButton:focus {
  background-color: #d9d9d9;
  outline: 0px solid transparent;
}

.SearchResultItem-Selected .SearchResultItemButton:focus {
  background-color: #387bbe;
}
